<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_base}">
<head>
    <title>Foglalás</title>
</head>
<body>
<div id="page" layout:fragment="content">
    <h1>Új foglalás</h1>
    <form action="/reserve" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Foglalás adatai</legend>
            <div class="form-row">
                <div class="col-12 col-md-4 form-group">
                    <label for="arrivalDate">Érkezés</label>
                    <input id="arrivalDate" type="date" name="arrivalDate" class="form-control" required/>
                </div>
                <div class="col-12 col-md-4 form-group">
                    <label for="departureDate">Távozás</label>
                    <input id="departureDate" type="date" name="departureDate" class="form-control" required/>
                </div>
                <div class="col-12 col-md-4 form-group">
                    <label for="numberOfBeds">Személyek száma</label>
                    <input id="numberOfBeds" type="number" name="numberOfBeds" class="form-control" min="1"
                           step="1" required/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Foglaló adatai</legend>
            <div class="form-row">
                <div class="col-12 col-md-6 form-group">
                    <label for="name">Név</label>
                    <input id="name" type="text" name="name" class="form-control" required>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="email">E-mail cím</label>
                    <input id="email" type="email" name="email" class="form-control" required/>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="document">Személyazonosító okmány száma</label>
                    <input id="document" type="text" name="document" class="form-control" required/>
                </div>
                <div class="col-12 form-group">
                    <label for="address">Cím</label>
                    <input id="address" type="text" name="address" class="form-control" required/>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Küld</button>
        <button type="reset" class="btn btn-secondary">Mégsem</button>
    </form>

    <div th:if="${not #lists.isEmpty(reservations)}">
        <hr/>
        <h1>Foglalások</h1>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Érkezés-távozás</th>
                <th>Létszám</th>
                <th>Név</th>
                <th>Cím</th>
                <th>Okmány</th>
                <th>Email</th>
                <th>Ár</th>
                <th>Létrehozás időpontja</th>
                <th>Előleg</th>
                <th>Lejárt?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.arrivalDate} + ' - ' + ${reservation.departureDate}"></td>
                <td th:text="${reservation.numberOfBeds}"></td>
                <td th:text="${reservation.guest.name}"></td>
                <td th:text="${reservation.guest.address}"></td>
                <td th:text="${reservation.guest.document}"></td>
                <td th:text="${reservation.guest.email}"></td>
                <td th:text="${reservation.price}"></td>
                <td th:text="${reservation.reservationDate}"></td>
                <td>
                    <form action="/setDeposit" method="post" enctype="multipart/form-data">
                        <div class="input-group input-group-sm">
                            <input type="number" class="form-control" name="deposit" min="0"
                                   th:value="${reservation.deposit}">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Rögzít</button>
                            </div>
                        </div>
                        <input type="hidden" name="reservationId" th:value="${reservation.id}"/>
                    </form>
                </td>
                <td th:text="${reservation.expired ? 'Lejárt':'Aktív' }"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
