<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Vendég</title>
</head>
<body>
<div id="page" layout:fragment="content">
    <h1>Új vendég</h1>
    <form action="/newGuest" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-12 col-md-6 form-group">
                <label for="guestName">Név</label>
                <input id="guestName" type="text" name="guestName" class="form-control" required>
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="guestEmail">E-mail cím</label>
                <input id="guestEmail" type="email" name="guestEmail" class="form-control" required/>
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="guestDocument">Személyazonosító okmány száma</label>
                <input id="guestDocument" type="text" name="guestDocument" class="form-control" required/>
            </div>
            <div class="col-12 form-group">
                <label for="guestAddress">Lakcím</label>
                <input id="guestAddress" type="text" name="guestAddress" class="form-control" required/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6 form-group">
                <label for="guestPassword">Jelszó</label>
                <input id="guestPassword" type="password" name="guestPassword" class="form-control" required>
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="guestPasswordOneMore">Jelszó újra</label>
                <input id="guestPasswordOneMore" type="password" name="guestPasswordOneMore" class="form-control"
                       required/>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Küld</button>
        <button type="reset" class="btn btn-secondary">Mégsem</button>
    </form>

    <div th:if="${not #lists.isEmpty(guests)}">
        <hr/>
        <h1>Vendégek</h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Név</th>
                <th>Cím</th>
                <th>E-mail cím</th>
                <th>Törzsvendég?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guest : ${guests}">
                <td th:text="${guest.name}"></td>
                <td th:text="${guest.address}"></td>
                <td th:text="${guest.email}"></td>
                <td>
                    <form action="/setRegular" method="post" enctype="multipart/form-data">
                        <div class="input-group input-group-sm">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="true" name="regular" class="custom-control-input"
                                       th:id="'regularRadioTrue' + ${guest.id}" th:checked="${guest.isRegular()}">
                                <label class="custom-control-label"
                                       th:for="'regularRadioTrue' + ${guest.id}">igen</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="false" name="regular" class="custom-control-input"
                                       th:id="'regularRadioFalse' + ${guest.id}" th:checked="${!guest.isRegular()}">
                                <label class="custom-control-label"
                                       th:for="'regularRadioFalse' + ${guest.id}">nem</label>
                            </div>
                            <div class="input-group-append">
                                <input type="hidden" name="guestId" th:value="${guest.id}"/>
                                <button class="btn btn-secondary" type="submit">Rögzít</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>