<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/public_base}">
<head>
    <title>Bejelentkezés</title>
</head>
<body>
<div id="page" layout:fragment="content">
    <h1>Bejelentkezés</h1>
    <form action="/login" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-12 col-md-6 form-group">
                <label for="email">E-mail cím</label>
                <input id="email" type="text" name="email" class="form-control" required>
            </div>
           <div class="col-12 form-group">
                <label for="password">Jelszó</label>
                <input id="password" type="password" name="password" class="form-control" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Bejelentkezés</button>
    </form>
    <a href="/register">Regisztráció</a>
</div>
</body>
</html>
