<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Kiemelt napok</title>
</head>
<body>
<div id="page" layout:fragment="content">
    <h1>Új kiemelt napok</h1>
    <form action="/addSpecialDay" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-12 col-md-6 form-group">
                <label for="startDate">Időszak kezdete</label>
                <input id="startDate" type="date" name="startDate" class="form-control"/>
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="endDate">Időszak vége</label>
                <input id="endDate" type="date" name="endDate" class="form-control"/>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Küld</button>
        <button type="reset" class="btn btn-secondary">Mégsem</button>
    </form>
    <div th:if="${not #lists.isEmpty(specialDays)}">
        <hr/>
        <h1>Kiemelt napok</h1>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Dátum</th>
                <th>Művelet</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="specialDay : ${specialDays}">
                <td th:text="${specialDay.startDate} + ' - ' + ${specialDay.endDate}"></td>
                <td>
                    <form action="/deleteSpecialDay" method="post">
                        <input type="hidden" name="specialDayId" th:value="${specialDay.id}"/>
                        <button class="btn btn-danger btn-sm" type="submit">Töröl</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
